<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: pink;


        }
        .container{
            margin: 0 auto;
            gap: 10px;
            height: 1000px;
            width: 1000px;
             background-color: aqua;
            display: flex;
            flex-shrink:1 ;
 
            }
        .box{
            height: 150px;
            width: 150px;
            background-color: black;
            gap: 10px;
        }
    </style>
</head>
<body>
    <div class="container">


        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</body>
</html>