<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- main section -->
    <section class="hero_section">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Skill</a></li>
          <li><a href="#">Experience</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="linkedin">
          <img src="./images/linkedin_logo.png" alt="linkedin" />
        </div>
      </nav>
      <section class="header">
        <button>Get in touch</button>
        <div class="basic_details">
          <div class="avatar">
            <img src="./images/avatar.png" alt="anshu image" />
            <h4>Hello, I'm Anshu</h4>
            <div></div>
            <h4>Based in INDIA</h4>
          </div>
        </div>
        <h1>ANSHU RAJ</h1>
        <h4>My SKills & Experience</h4>
      </section>
      <div class="top_bg">
        <img src="./images/top_bg.png" alt="background image" />
      </div>
    </section>

    <!-- About Section -->

    <section class="about_section">
      <div class="image_container">
        <img src="./images/about_img.png" alt="About image" />
      </div>
      <div class="content">
        <h2>Get to know me</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, alias
          repudiandae, neque amet repellat nemo quaerat consectetur ratione
          exercitationem a quisquam ullam. Ullam blanditiis exercitationem quas
          molestias, consectetur ad illum cum accusantium! Asperiores quis
          laboriosam recusandae aspernatur, aliquid voluptatum maiores excepturi
          nesciunt temporibus eveniet explicabo. Expedita minima incidunt veniam
          aspernatur nam numquam voluptatibus consequatur quasi, eligendi eos id
          consectetur quaerat veritatis atque quos. Rerum magnam saepe nulla, in
          incidunt dolor consequuntur quas maxime ipsum nostrum. At quos error
          cum tempore ex.
        </p>
        <button>GET IN TOUCH</button>
      </div>
    </section>

    <!-- experience section -->
    <section class="experience_section">
      <h2>Experience</h2>
      <div class="experience_card">
        <div class="tag">June 2023-Current</div>
        <h3>Full Stack Developer</h3>
        <h4>-Sass Project for writing scripts for video</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
          aspernatur magni inventore debitis officia odit illum illo doloribus
        </p>
      </div>
      <div class="experience_card">
        <div class="tag">June 2021 - Dec 2022</div>
        <h3>Full Stack Developer ( Freelance )</h3>
        <h4>-At KPExam Pune Maharashtra</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic
          necessitatibus soluta exercitationem explicabo sint, maxime temporibus
          sunt nesciunt aliquam.
        </p>
      </div>
      <div class="experience_card">
        <div class="tag">June 2021 - Dec 2022</div>
        <h3>Full Stack Developer ( Freelance )</h3>
        <h4>- At KPExam Pune Maharashtra</h4>
        <p>
          Complete Development was based on Typescript Tools Used To Build This
          Project - Express Js , React Js , React Query , Redux Toolkit etc
        </p>
      </div>
      <div class="btn">
        <button>Show More</button>
      </div>
    </section>
    <!-- projects section -->
    <section class="project_section">
      <h2>My Projects</h2>
      <div class="project_card">
        <div class="left">
          <div class="project_overview">
            <div class="title">
              <div class="number">1</div>
              <h3>Responsive E-commerce Website</h3>
            </div>
            <p>
              Create a fully responsive e-commerce website that allows users to
              browse products, add items to a shopping cart, and proceed to
              checkout. This project will demonstrate your skills in HTML, CSS,
              JavaScript, and a backend technology like Node.js or PHP.
            </p>
          </div>
          <div class="key_feature">
            <h3>Key Features:</h3>
            <ul>
              <li>
                Product Catalog: Display a list of products with details like
                price, description, and images.
              </li>
              <li>
                Search and Filter: Implement search functionality and filters to
                help users find products quickly.
              </li>
              <li>
                Shopping Cart: Allow users to add items to a shopping cart, view
                cart contents, and remove items.
              </li>
              <li>
                Checkout Process: Create a multi-step checkout process with
                forms for shipping details and payment information.
              </li>
              <li>
                User Authentication: Implement user registration and login
                functionality.
              </li>
              <li>
                Responsive Design: Ensure the website looks great on both
                desktop and mobile devices.
              </li>
              <li>
                Admin Panel: Include an admin panel to manage products, orders,
                and users.
              </li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="image_container">
            <img
              src="./images/project_img.png"
              alt="Responsive E-commerce Website"
            />
          </div>
          <div class="technology">
            <h3>Technologies used</h3>
            <ul>
              <li>Frontend: HTML, CSS, JavaScript, Bootstrap</li>
              <li>Backend: Node.js with Express or PHP</li>
              <li>Database: MongoDB or MySQL</li>
              <li>Authentication: JWT or Sessions</li>
              <li>Deployment: Heroku, Netlify, or a similar platform</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- skillset section -->
      <section class="skills">
        <h2>My Skillset</h2>
        <h3>Computer Skills:</h3>
        <h4>C/C++ , JavaScript, Typescript, HTML, CSS, Python, Bash</h4>
        <h3>FrameWork and Tools:</h3>
        <h4>React, Next.js, NextAuth.js, Rest API</h4>
        <h3>Language</h3>
        <h4>
          Hindi (native), Bhojpuri (native), English (fluent), Bengali (fluent)
        </h4>
        <h3>Industry Knowledge:</h3>
        <h4>
          Agile frameworks (Scrum, Kanban), Agile tools (Jira, Trello), Project
          management
        </h4>
        <h3>Databases</h3>
        <h4>MySQL,Postgress,MongoDB</h4>
      </section>
    </section>

    <!--contact me section-->
    <section class="contact_section">
      <div class="left">
        <img src="./images/contact_img.png" />
      </div>
      <div class="right">
        <h2>Contact Me</h2>
        <h4>Thank you for reviewing my General Portfolio. 
              Please get in touch to find out more</h4>
        <div class="in">
          <div class="circle"><h3>in</h3></div>
          <h3>www.linkedIn.com/in/anshuopinion</h3>
        </div>
    
      </div>
    </section>
    <div class="bar"></div>
  </body>
</html>
